<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/greeting/Guest">Greeting</a>
      </nav>


 <h2>Enter Your Username</h2>

  <form action="/submit" method="POST">

    <label for="username">Username:</label>

    <input type="text" id="username" name="username" required>

    <button type="submit">Submit</button>


  </form>


    
  <h2> Image to download </h2>
<p> idk why my cat picture does not show </p>
  <img src="public\cat.png" alt="Sample Image">
  <p><a href="/download">Download Image</a></p>


</body>
</html>